* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.package{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.package>.grass,
.package>.land,
.package>.rock {
    display: none;
}

main {
    display: grid;
    grid-template-columns: repeat(50, 1fr);
}

div {
    width: 3rem;
    height: 3rem;
}

.sky {
    background-color: lightblue;
}

.grass {
    background-image: url(assert/images/grass.webp);
}

.land {
    background-image: url(assert/images/land.webp);
}

.rock {
    background-color: gray;
}

div:hover {
    border: 2px solid black;
}

.deshe {
    background-image: url('https://previews.123rf.com/images/mkfilm/mkfilm2104/mkfilm210400009/167504591-pixel-grass-and-ground-background-the-concept-of-minecraft-games-3d-abstract-cubes-video-game.jpg');
    background-size: cover;       /* fait remplir toute la cellule */
    background-repeat: no-repeat; /* empêche la répétition */
    background-position: center;  /* centre l’image */
}

#side-menu {
    position : fixed;
    margin-left: 2rem;
    margin-top: 1.8rem;

}

#side-menu a {    
    font-size: 17px;
    font-weight: 700;
    background-color: #A0A0A0;
    border: 2px solid #707070;
    border-radius: 4px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: inherit;
    box-shadow: 0px 3px 1px #707070;
    margin: 0.5rem 0;
}


.cursor-grass{
    cursor: url("assert/cursorImages/grass.png") 4 4, auto;
}

.cursor-land{
    cursor: url("assert/cursorImages/land.png") 4 4, auto;
}
