* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(50, 1fr);
}

div {
    width: 3rem;
    height: 3rem;
}

.sky {
    background-color: lightblue;
}

.grass{
    background-image: url(assert/images/grass.webp);
}

.land {
    background-image: url(assert/images/land.webp);
}

.rock {
    background-color: gray;
}

div:hover {
    border: 2px solid black;
}