body {
    display: grid;
    grid-template-columns: repeat(99, 1fr);
    grid-template-rows: repeat(30, 1fr);
    height: 1440px;
    width: 4800px;
    /* background-color: #87CEEB; */
    margin: 0;
    padding: 0;
}

.cell:hover {
   border: 1px solid rgb(32, 32, 32)
}

.shamaim {
    background-color: #87CEEB;
}
