body {
    display: grid;
    grid-template-columns: repeat(99, 1fr);
    grid-template-rows: repeat(30, 1fr);
    height: 1440px;
    width: 4800px;
    /* background-color: #87CEEB; */
    margin: 0;
    padding: 0;
}

.cell:hover {
   border: 2px solid rgb(32, 32, 32)
}

.shamaim {
    background-color: #87CEEB;
}

.deshe {
    background-image: url('../pictures/deshe.webp');
}

.adama {
    background-image: url('../pictures/adama.webp');
}

